<!DOCTYPE html>
<html lang="en" class=" bg-[#18181b] no-scrollbar">

<head>

    {{ with (templates.Defer (dict "key" "global")) }}
    {{ partial "css.html" . }}
    {{ end }}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
<link rel="icon" type="image/x-icon" href="/favicon.ico">

</head>
<header class="pt-5 m-auto relative  bg-[#18181b] w-1/2  items-center justify-items-center justify-center ">
    <div class="grid grid-cols-[1fr_auto]  grid-rows-1  items-center">
        <div class="grid grid-cols-[1fr_auto_1fr_auto_1fr] grid-rows-1 gap-2 content-center">


            <h1 class="dotgothic pl-0.5 text-right text-white text-3xl"> 天使 </h1>
            <h1 class="vt323 text-white text-4xl ">|</h1>
            <h1 class="vt323  text-white text-4xl ">ThePangel</h1>
            <h1 class="vt323 text-white text-4xl ">|</h1>
            <h1 class="vt323  text-white text-4xl ">EA4IXU</h1>


        </div>
       <nav class="absolute right-0 mr-20  gap-4 sans-code text-sm">
                <a href="{{ "" | relURL }}" class="text-purple-400 hover:underline">~/blog</a>

            </nav>
    </div>





</header>

<main class="h-screen w-screen justify-items-center mt-20 bg-[#18181b]">
    <div class="flex flex-col w-2/4 min-h-4/5 bg-[#2f2f35] rounded-2xl   border-purple-700 border-2 py-5 px-5">

        <div class="grid grid-cols-3 grid-rows-1  flex-col sans-code text-black  text-md  px-6 bg-white mb-5">
            <span class="text-left">GNU nano 8.4</span>
            <h1 class="text-center">{{ .Title }}.md</h1>
            <time class="text-right">[ {{ .Date.Format "2006-01-02" }} ] </time>
        </div>




        <article class="prose prose-invert max-w-none sans-code
	prose-h1:text-purple-400 prose-h1:font-bold  prose-h1:pb-1 prose-h1:mb-4
	prose-h2:text-white prose-h2:font-semibold prose-h2:mt-6 prose-h2:mb-2
	prose-p:text-zinc-300 prose-p:text-sm prose-p:leading-relaxed prose-p:mb-4
	prose-a:text-purple-400 prose-a:hover:text-purple-300 
	prose-li:text-purple-300  prose-ul:space-y-1 prose-ul:mb-4
	prose-code:bg-zinc-800/60 
	">
            {{ .Content }}
        </article>
    </div>
     <footer class="flex flex-col w-full h-7 mt-auto pt-5">


        <span class="mx-auto text-white">© 2026 ThePangel. All rights reserved.</div>
            <div class="flex flex-row place-content-center pt-5 mx-auto">
                <a href="https://github.com/thepangel">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/c/c2/GitHub_Invertocat_Logo.svg"
                        class="size-10">
                </a>


            </div>
        </span>

    </footer>
    <div class="w-3/4 p-3 pt-30">

        <script src="https://giscus.app/client.js"
        data-repo="thepangel/thepangel.github.io"
        data-repo-id="R_kgDOSvzDfQ"
        data-category="Announcements"
        data-category-id="DIC_kwDOSvzDfc4C-cjQ"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="catppuccin_mocha"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
    </div>
    
</main>

</html>